<div class="inicial py-4 fundo">
  
    <p class="branco pt-3 fontes">Star Wars Portal</p>
  </div>
  <div class="container">
    <div class="row">
     
  <div class="col-lg-6 col-sm-12">
        <div class="media pt-4">
          <img src="../../../assets/Star2.jpg" class="align-self-center mr-3" alt="..." height="128" weight="128">
          <div class="media-body pt-4">
            <h5 class="mt-0 fontes">Register Character</h5>
            <p class="mb-0 fontes">Click here to register Character</p>

            <button type="button" [routerLink]="'app-character'" class="btn btn-dark">Register Character</button>
   
          </div>
        </div>
      </div> 

      <div class="col-lg-6 col-sm-12">
        <div class="media pt-4">
          <img src="../../../assets/Star3.jpg" class="align-self-center mr-3" alt="..." height="128" weight="128">
          <div class="media-body pt-4">
            <h5 class="mt-0 fontes">Characters' List</h5>
            <p class="mb-0 fontes">Click here to see the Characters</p>

            <button type="button" [routerLink]="'list-character'" class="btn btn-dark">Check Characters</button>
   
          </div>
        </div>

        
      </div> 
 
     

  

  
     
 
  
  
     
  
     
      </div>
<router-outlet></router-outlet>