header{
    background: linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(28, 31, 29) 35%, rgb(51, 56, 54) 70%, rgb(14, 19, 17) 100%);
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}