header{
    background: linear-gradient(90deg, rgba(20,56,40,1) 0%, rgba(39,108,78,1) 35%, rgba(36,100,72,1) 70%, rgba(20,56,40,1) 100%);
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}