<h2 class="h3 text-center mb-3 mt-3">List of Characters</h2>

<form class="mb-3" [formGroup]="charForm">
<div class="form-row">
     
  </div>
</form>

<div class="table-responsive">
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
          <tr>
           <th>id</th>
            <th>Name of Character</th>
            <th>Age</th>
             <th>Options</th>  
            
          </tr>
         
        </thead>



        <tbody class="table-light">
            <tr *ngFor="let listCharacter of listCharacter" >
                <td>{{ listCharacter.id }}</td>
              <td>{{ listCharacter.name_char }}</td>
              <td>{{ listCharacter.age }}</td>
              
              <td>
                <button class="btn btn-warning ml-2" (click)="editCharacter(character.id)" >Edit</button>
                <button class="btn btn-danger ml-2" (click)="deleteCharacter(listCharacter.id)">Remove</button>
            </td>
            </tr>
        </tbody>    
</table>
</div>
